<div class="container is-fullhd">
  <div class="columns mt-1 is-mobile is-centered">
    <div class="column is-half">
      <form class="box">
        <h1 class="title is-4">Sign Up</h1>
        <div class="field">
          <label class="label">Firstname</label>
          <div class="control">
            <input name="username" class="input" placeholder="" />
          </div>
        </div>
        <div class="field">
          <label class="label">Lastname</label>
          <div class="control">
            <input class="input" type="text" placeholder="" />
          </div>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" placeholder="eg. abc123" />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="********" />
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="eg. abc@xyz.com" />
          </div>
        </div>
        <div class="field">
          <label class="label">Role</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select>
                <option>User</option>
                <option>Manager</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit" class="button is-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
